<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Flask Daily 19</title>
</head>
<body>
    <header class="header">
        <img class="logo"src="/static/assets/flask19-logo.png" alt="Logo of the website.">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list--item">Recent</li>
                <li class="menu__list--item">Calendar</li>
            </ul>
        </nav>
    </header>

    <main id="main" class="main__area">
        <section class class="main__section">
            <form class="form" method="POST">
                <textarea name="content" class="form__textarea" placeholder="What did you learn today?" required></textarea>
                <input class="form__input form__input--submit" type="submit" />
            </form>
        </section>

        <section class="entries">
            {% for entry in entries %}
                <div class="entry">
                    <p class="entry__title">{{ entry['content'] | truncate(30,true) }} &middot; <span class="entry__date"> {{entry['date']}}</span></p>
                </div>    
                <p class="entry__content">{{ entry['content'] }}</p>
            {% endfor %}
        </section>
    </main>

    <footer>
        <div class="footer__container">
            <div class="left">
                <a href="/" class="footer__item">Made by Adrian Zinko</a>
                <a href="/" class="footer__item">Check out my other work on Github</a>
            </div>
            <div class="right">
                <div class="footer__section">
                <a href="" class="footer__item">Recent</a>
                    <a href="" class="footer__item">Calendar</a>
                </div>
                <div class="footer__section">
                    <a href="/" class="footer__item">About</a>
                        <a href="/" class="footer__item">How this was made</a>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>